<div class="ui bottom attached active tab segment" data-tab="basic-info">
  <div class="required field">
    <%= f.label :name %>
    <%= f.text_field :name, data: { validation: 'empty|maxLength[255]' } %>
  </div>
</div>
