<div class="ui top attached tab segment" style="margin: 0" data-tab="categories">
  <%=
    render(
      'categories/custom_categories_fields',
      f: f,
      condition: condition
    )
  %>

  <div class="ui tall divider"></div>

  <div class="ui two column grid">
    <div class="column">
      <%=
        render(
          'categories/toggle_products_fields',
          f: f,
          condition: condition
        )
      %>
    </div>
    <div class="column">
      <%=
        render(
          'categories/toggle_subcategory_fields',
          f: f,
          condition: condition
        )
      %>
    </div>
  </div>
</div>
