<div class="ui bottom attached tab segment" data-tab="categories">
  <%=
    render(
      'categories/custom_categories_fields',
      f: f,
      condition: condition
    )
  %>

  <div class="ui tall divider"></div>

  <%=
    render(
      'categories/toggle_products_fields',
      f: f,
      condition: condition
    )
  %>
</div>
