<div class="ui top attached tab segment" style="margin: 0" data-tab="custom-attribute">
  <%=
    render(
      'attributes/custom_attributes_fields',
      f: f,
      condition: condition
    )
  %>
</div>
