<div class="ui bottom attached active tab segment" data-tab="nutrition-facts">
  <div class="nutrition-facts-label">
    <div class="nutrition-facts-title">
      Nutrition Facts
    </div>
    <div class="nutrition-facts-servings">
      8 servings per container
    </div>
    <div class="nutrition-facts-serving-size">
      <div class="serving-size-label">Serving Size</div><div class="serving-size-value">2/3 cup (55g)</div>
    </div>
    <div class="nutrition-facts-amount">
      Amount per serving
    </div>
    <div class="nutrition-facts-calories">
      <div class="calories-label">Calories</div><div class="calories-value">230</div>
    </div>
    <div class="nutrition-facts-percent">
      % Daily Value
    </div>
    <div class="nutrition-facts-line">
      <div class="fat fact-label">Total Fat</div>
      <div class="fat fact-value">8g</div>
      <div class="fat fact-percent">10%</div>
    </div>
    <div class="nutrition-facts-line">
      <div class="saturated-fat fact-label">Saturated Fat</div>
      <div class="saturated-fat fact-value">1g</div>
      <div class="saturated-fat fact-percent">5%</div>
    </div>
    <div class="nutrition-facts-line">
      <div class="trans-fat fact-label">Trans Fat</div>
      <div class="trans-fat fact-value">0g</div>
    </div>
    <div class="nutrition-facts-line">
      <div class="cholesterol fact-label">Cholesterol</div>
      <div class="cholesterol fact-value">0mg</div>
      <div class="cholesterol fact-percent">0%</div>
    </div>
    <div class="nutrition-facts-line">
      <div class="sodium fact-label">Sodium</div>
      <div class="sodium fact-value">160mg</div>
      <div class="sodium fact-percent">7%</div>
    </div>
    <div class="nutrition-facts-line">
      <div class="carbs fact-label">Total Carbohydrate</div>
      <div class="carbs fact-value">37g</div>
      <div class="carbs fact-percent">13%</div>
    </div>
    <div class="nutrition-facts-line">
      <div class="fiber fact-label">Dietary Fiber</div>
      <div class="fiber fact-value">4g</div>
      <div class="fiber fact-percent">14%</div>
    </div>
    <div class="nutrition-facts-line">
      <div class="sugars fact-label">Sugars</div>
      <div class="sugars fact-value">12g</div>
    </div>
    <div class="nutrition-facts-line">
      <div class="protein fact-label">Protein</div>
      <div class="protein fact-value">3g</div>
      <div class="protein fact-percent">6%</div>
    </div>
    <div class="nutrition-facts-vitamins">
      <div class="vitamin-facts-line">
        <div class="vitamin-d fact-label">Vitamin D</div>
        <div class="vitamin-d fact-value">2mcg</div>
        <div class="vitamin-d fact-percent">10%</div>
      </div>
      <div class="vitamin-facts-line">
        <div class="calcium fact-label">Calcium</div>
        <div class="calcium fact-value">260mg</div>
        <div class="calcium fact-percent">20%</div>
      </div>
      <div class="vitamin-facts-line">
        <div class="iron fact-label">Iron</div>
        <div class="iron fact-value">260mg</div>
        <div class="iron fact-percent">10%</div>
      </div>
      <div class="vitamin-facts-line">
        <div class="potassium fact-label">Potassium</div>
        <div class="potassium fact-value">235mg</div>
        <div class="potassium fact-percent">6%</div>
      </div>
    </div>
    <div class="nutrition-facts-daily-value">
      The % Daily Value (DV) tells you how much a nutrient in a serving of food contributes to a daily diet. 2,000 calories a day is used for general nutrition advice.
    </div>
  </div>
</div>
