<div class="ui bottom attached tab segment" data-tab="searching">
  <div class="field">
    <div class="ui checkbox">
      <%= f.check_box :allow_searching %>
      <label>
        Allow participants to search the grocery store by keyword
      </label>
    </div>
  </div>
</div>
