<div class="ui tiny icon warning message">
  <i class="exclamation circle icon"></i>
  <div class="content">
    <div class="header">Warning: Incomplete data</div>
    Not all products have information for <%= incomplete_sort_fields.to_sentence %>. This may result in misleading sorting.
  </div>
</div>
