<div class="ui bottom attached tab segment" data-tab="suggestions">
  <div class="page-heading">
    <h2>Suggested Add-Ons</h2>

    <div class="heading-buttons">
      <%=
        link_to(
          '#',
          class: 'ui right floated button',
          data: { loading_spinner: true, remote: true }
        ) do
      %>
        <i class="download icon"></i> Download Product Data
      <% end %>
    </div>
  </div>

</div>
