@import "../../base/base";

.product-grid {
  display: flex;
  flex-wrap: wrap;
}

.product-grid-item {
  flex-grow: 1;
  display: inline-block;
  width: 25%;
  max-width: 25%;
  min-width: 340px;
  height: 347px;
  max-height: 347px;
  position: relative;
  padding: 1rem;
  border-bottom: 1px solid $light-shadow;

  @include small-only {
    width: 100%;
  }
  @include medium-only {
    width: 33.3%;
  }
}
