@import "../../base/base";
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  form {
    flex-shrink: 0;
    input[type=text] {
      margin-top: 0px;
    }

    button {
      padding: 6px 10px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;

      &:hover {
        background: #ccc;
      }
    }
  }
}

