.add-to-cart {
  margin-left: 2rem;
  font-family: "Century Gothic", sans-serif;
  display: flex;
  align-items: center;
  text-transform: none;

  .label {
    font-size: 0.7rem;
  }

  .form-container {
    display: flex;
    margin-left: 0.5rem;
    border: 1px solid black;
    position: relative;
    font-size: 0.9rem;

    .selector {
      background-color: green;
      color: white;
      padding: 0.2rem 0.5rem;

      .down-arrow {
        padding: 0.2rem;
        font-size: 0.5rem;
      }

      .option {
        position: absolute;
        left: -1px;
        top: 2.2rem;
        color: black;
        padding: 0.5rem;
        background-color: white;
        border: 1px solid black;
      }
    }

    .count {
      padding: 0.3rem 0.5rem;
      font-weight: bold;

      button {
        border: none;
        font-weight: bold;
        font-size: 0.9rem;
        padding: 0;
      }
    }

    .submit {
      background-color: green;
      color: white;
      padding: 0.3rem 0.8rem;
    }
  }
}
