@import "../../base/base";

.tab-container {
  height: 2.6rem;
  background-color: #333333;
  color: #ffffff;
  outline: 1px solid #ffffff;
  text-align: center;
  position: relative;
  font-size: 0.6rem;
  line-height: 0.6rem;
  flex-grow: 1;
  flex-basis: 0;
  z-index: 1;

  .tab {
    padding-top: 1rem;
  }

  .tab-dropdown {
    position: absolute;
    top: 2.6rem;
    left: 0px;
    padding-top: 2px;
    width: 100%;
    background-color: white;
    display: inline-block;

    .tab-subcat-bar {
      height: 30px;
      width: 100%;
      background-color: #666666;
      position: relative;
      display: inline-block;

      &:hover {
        cursor: pointer;
      }

      .tab-subcat-title {
        padding: 0;
        margin: 0;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        background-color: #999999;
      }
    }
  }

}
.selected {
  background-color: $price-green;
  color: #ffffff;
  display: inline-block;
  outline: 1px solid #ffffff;
  text-align: center;
  position: relative;

  &:hover {
    background-color: $price-green;
  }

  .tab {
    display: inline-block;
  }

  .tab-dropdown {
    .tab-subcat-bar {
      background-color: #30b532;

      &:hover {
        background-color: #4acf4c;
      }
    }
  }
}

.tab-subsubcat-list {
  position: absolute;
  border: 1px solid red;
  z-index: 99;
  top: 0;
}
