@import "../../base/base";

.navigate-back {
  color: $price-green;
  font-weight: bold;
  cursor: pointer;
}

.product-card-expanded {
  padding: 10px 10%;

  .product-details {
    margin-top: 50px;
  }
}
