@import "../../base/base";

.product-details {
  display: flex;
  justify-content: flex-start;

  .product-details-image-wrapper {
    max-width: 60%;
    margin: auto;
    position: relative;

    .product-details-image {
      width: auto;
      max-width: 100%;
    }
  }

  .product-details-name {
    font-size: 2.5rem;
    display: inline-block;
    padding-right: 7px;
    margin: 5px 0;
    text-transform: capitalize;
  }

  .product-details-ingredients {
    font-size: 14px;
    padding-right: 7px;
  }

  .product-details-size {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .product-details-price {
    color: $price-green;
    display: inline-block;
    margin-left: 10px;
  }

  .product-details-buttons-wrapper {
    text-align: right;
  }

  // we constrain the width of this container to simulate the size of the
  // container for below-button labels on the product grid page. this way, the
  // percent width of the label image can be a % of a similarly-sized parent
  // container, yielding a similarly-sized image.
  .product-details-buttons {
    padding: 0.5rem 0;
    display: inline-block;
    max-width: 22.5vw;

    .add-to-cart {
      justify-content: flex-end;
    }
  }

  .product-details-right-section {
    width: 60%;
    padding: 50px;
  }

  a {
    text-decoration: none;
  }

  .product-details-description {
    font-size: 14px;
    display: inline-block;
    padding-right: 7px;
    margin: 5px 0;
  }

  .custom-attribute-container {
    display: flex;
    font-size: 20px;
    padding-top: 50px;

    div {
      margin-right: 10px;
    }
  }

  .product-card-guiding-stars {
    width: auto;
    height: 40px;
    padding: 1px 5px;
    margin: 7px 5px 0 0;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }
  }
}
