<table class="ui celled table">
  <thead>
    <tr>
      <th>Data</th>
      <th>All participant actions</th>
      <th>Products in cart at check out</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Participant ID (called "Session ID")</td>
      <td><i class="check icon" /></td>
      <td><i class="check icon" /></td>
    </tr>
    <tr>
      <td>What participants check out with</td>
      <td><i class="check icon" /></td>
      <td><i class="check icon" /></td>
    </tr>
    <tr>
      <td>What participants remove from their cart</td>
      <td><i class="check icon" /></td>
      <td><i class="remove icon" /></td>
    </tr>
    <tr>
      <td>Products participants get more detail on, but do not add to cart</td>
      <td><i class="check icon" /></td>
      <td><i class="check icon" /></td>
    </tr>
    <tr>
      <td>The nutrition information of the items participants checked out with</td>
      <td><i class="remove icon" /></td>
      <td><i class="check icon" /></td>
    </tr>
    <tr>
      <td>The categories of the items participants checked out with</td>
      <td><i class="remove icon" /></td>
      <td><i class="check icon" /></td>
    </tr>
    <tr>
      <td>In what order participants added items to their cart</td>
      <td>Indirectly through time stamp data</td>
      <td><i class="remove icon" /></td>
    </tr>
    <tr>
      <td>The cost of the items participants checked out with</td>
      <td><i class="remove icon" /></td>
      <td><i class="check icon" /></td>
    </tr>
    <tr>
      <td>What condition participants were in </td>
      <td>Indirectly through ID matching with Qualtrics</td>
      <td><i class="check icon" /></td>
    </tr>
  </tbody>
</table>
