<table class="ui celled table">
  <thead>
    <tr>
      <th>What does it look like?</th>
      <th>Name</th>
      <th>What is it?</th>
      <th>How can I change it?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= image_tag('guiding_stars_product.png', class: 'accordion-image')%>
      </td>
      <td>
        Healthy Stars Labels
      </td>
      <td>
        <div>
          Healthy stars labels appear below all the products in Howe’s grocery.
        </div>
        <div>
          The labels are based on the “Guiding Stars” system and score foods
          from 0 stars (not at all healthy) to 3 stars (very healthy).
        </div>
        <div>
          The algorithm for Healthy Stars can be found
          <%= link_to 'here (TODO: Add link)', '#' %>
        </div>
      </td>
      <td>
        Healthy stars can be toggled on an off using the check box
        (“Show healthy stars) at the bottom of the labeling tab
      </td>
    </tr>

    <tr>
      <td>
        <%= image_tag('custom_label_product.png', class: 'accordion-image')%>
      </td>
      <td>
        On-image Labels
      </td>
      <td>
        <div>
          You can specify any image to be overlaid on the product image.
        </div>
        <div>
          You can upload your own image label (TODO: Add formats)
          or use a pre-fabricated one.
        </div>
        <div>
          Using our calculator, you can specify when you would like the
          nutrition label to appear
        </div>
        <div>
          You can choose the size of the label and where it appears on the image
        </div>
      </td>
      <td>
        TODO: Add video
        <div>
          <iframe
            class="youtube small"
            src="http://www.youtube.com/embed/GY7Ps8fqGdc"
            frameborder="0"
          ></iframe>
        </div>
      </td>
    </tr>
  </tbody>
</table>
