<div class="page-heading">
  <h2>Tutorials and FAQ</h2>
</div>

<div class="ui divider"></div>

<section class="faq-section">
  <div class="page-sub-heading">
    <h3>FAQ</h3>
  </div>

  <div class="ui accordion">
    <div class="title bold">
      <i class="dropdown icon"></i>
      What can it be used for?
    </div>
    <div class="content">
      TODO
    </div>
  </div>

  <div class="ui accordion">
    <div class="title bold">
      <i class="dropdown icon"></i>
      What functions does it have?
    </div>
    <div class="content">
      TODO
    </div>
  </div>
</section>

<div class="ui divider"></div>

<section class="tutorial-section">
  <div class="page-sub-heading">
    <h3>Tutorials</h3>
  </div>

  <div class="ui accordion">
    <div class="title bold">
      <i class="dropdown icon"></i>
      How to sign up
    </div>
    <div class="content">
      <iframe
        class="youtube"
        src="http://www.youtube.com/embed/GY7Ps8fqGdc"
        frameborder="0"
      ></iframe>
    </div>
  </div>

  <div class="ui accordion">
    <div class="title bold">
      <i class="dropdown icon"></i>
      How to set up a basic experiment
    </div>
    <div class="content">
      <iframe
        class="youtube"
        src="http://www.youtube.com/embed/GY7Ps8fqGdc"
        frameborder="0"
      ></iframe>
    </div>
  </div>
</section>

<%= render 'contact_footer' %>
