{
  "rules": {
    // this rule is triggered if you set a prop type of just "object", but that
    // is the appropriate prop type for react router's `history`
    "react/forbid-prop-types": "off",
  }
}
