$cart-color: #c301d4;
$hovered-cart-color: #f7d8f6;
$quantity-color: #4301d5;
$light-shadow: #b8b8b8;
$price-green: #008800;
$dark-shadow: #666666;
$guiding-star-color: #c301d4;
$guiding-star-hover-color: #f7d8f2;