<div class="page-heading">
  <h2>My Experiments</h2>

  <div class="heading-buttons">
    <%= link_to new_experiment_url, class: 'ui primary button' do %>
      <i class="add icon"></i> Add Experiment
    <% end %>
  </div>
</div>

<table class="ui compact selectable celled table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @experiments.each do |experiment| %>
      <tr data-action="table-link" data-href="<%= experiment_path(experiment) %>">
        <td>
          <%= experiment.name %>
        </td>
      </tr>
    <% end %>
    <% if @experiments.none? %>
      <tr>
        <td>
          <p class="note">
            You have not yet added any experiments
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<br>
<br>

<style>
  .add-to-cart {
    margin-left: 2rem;
    font-family: "Century Gothic", sans-serif;
    display: flex;
    align-items: center;
  }

  .form-container {
    display: flex;
    margin: 0 0.5rem;
    border: 1px solid black;
    position: relative;
  }
  .add-to-cart .selector {
    background-color: green;
    color: white;
    padding: 0.3rem 0.5rem;
  }
  .down-arrow {
    padding: 0.2rem;
    font-size: 0.5rem;
  }
  .count {
    padding: 0.3rem 0.5rem;
    font-weight: bold;
  }
  .submit {
    background-color: green;
    color: white;
    padding: 0.3rem 0.8rem;
  }

  .option {
    position: absolute;
    left: -1px;
    top: 2.2rem;
    color: black;
    padding: 0.5rem;
    background-color: white;
    border: 1px solid black;
  }

</style>

<div class="add-to-cart">
  <div class="label">Add to cart by:</div>
  <div class="form-container">
    <div class="selector">
      <div class="selected">quantity <span class="down-arrow">▼</span></div>
    </div>
    <div class="count">- 1 +</div>
    <div class="submit">✓</div>
  </div>
</div>


<br>
<br>

<div class="add-to-cart">
  <div class="label">Add to cart by:</div>
  <div class="form-container">
    <div class="selector">
      <div class="selected">quantity <span class="down-arrow">▼</span></div>
      <div class="option">dollar amount</div>
    </div>
    <div class="count">- 1 +</div>
    <div class="submit">✓</div>
  </div>
</div>

<br>
<br>
<br>

<div class="add-to-cart">
  <div class="label">Add to cart by:</div>
  <div class="form-container">
    <div class="selector">
      <div class="selected">dollar amount <span class="down-arrow">▼</span></div>
    </div>
    <div class="count">- $1 +</div>
    <div class="submit">✓</div>
  </div>
</div>


<br>
<br>
<br>


<div class="add-to-cart">
  <div class="label">Add to cart:</div>
  <div class="form-container">
    <div class="selector">
      <div class="selected">quantity</div>
    </div>
    <div class="count">- 1 +</div>
    <div class="submit">✓</div>
  </div>
</div>





<br>
<br>
<br>








