<div class="page-heading">
  <h2>My Experiments</h2>

  <div class="buttons">
    <%= link_to 'Add Experiment', new_experiment_url, class: 'ui button' %>
  </div>
</div>

<table class="ui compact selectable celled table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @experiments.each do |experiment| %>
      <tr data-action="table-link" data-href="<%= experiment_path(experiment) %>">
        <td data-action="cell-link" style="width: 1%">
          <div>
            <%= link_to experiment_path(experiment), method: :delete, data: { modal_confirm: "Delete this experiment?" } do %>
              <i class="red close icon nomargin"></i>
            <% end %>
          </div>
        </td>
        <td>
          <%= experiment.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
