<div class="page-heading">
  <h2>My Experiments</h2>

  <div class="buttons">
    <%= link_to new_experiment_url, class: 'ui primary button' do %>
      <i class="add icon"></i> Add Experiment
    <% end %>
  </div>
</div>

<table class="ui compact selectable celled table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @experiments.each do |experiment| %>
      <tr data-action="table-link" data-href="<%= experiment_path(experiment) %>">
        <td>
          <%= experiment.name %>
        </td>
      </tr>
    <% end %>
    <% if @experiments.none? %>
      <tr>
        <td>
          <p class="note">
            You have not yet added any experiments
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
