<div class="page-heading">
  <h2>My Experiments</h2>

  <div class="buttons">
    <%= link_to 'Add Experiment', new_experiment_url, class: 'ui button' %>
  </div>
</div>

<table class="ui compact selectable celled table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @experiments.each do |experiment| %>
      <tr data-action="table-link" data-href="<%= experiment_path(experiment) %>">
        <td>
          <%= experiment.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
