@import "../../base/base";

.product-card {
  padding: 5%;
  display: inline-block;
  text-transform: capitalize;
  border-bottom: 1px solid $light-shadow;
  position: relative;

  .product-card-image {
    width: auto;
    max-width: 75%;
    display: block;
    margin: auto;
    cursor: pointer;
  }
  .product-card-name {
    font-size: 16px;
    text-decoration: none;
    display: block;
    color: black;
    padding-right: 7px;
    margin: 5px 0;
    cursor: pointer;
  }

  .product-card-size {
    display: inline-block;
    font-size: 12px;
  }

  .product-card-price {
    color: $price-green;
    display: inline-block;
    margin-left: 10px;
  }

  .product-card-buttons {
    display: flex;
    justify-content: flex-start;



    .product-card-add-to-cart {
      width: auto;
      height: 20px;
      padding: 5px 12px;
      border: 1px solid $cart-color;
      margin: 5px 5px 0 0;

      &:hover {
        cursor: pointer;
        background-color: $hovered-cart-color;
        border: 1px solid $hovered-cart-color;
        box-shadow: -2px 2px 5px $light-shadow;
      }
    }

    .product-card-quantity {
      color: $quantity-color;
      width: 50px;
      height: 25px;
      border: 1px solid $quantity-color;
      text-align: center;
      margin: 5px 5px 0 0;
      padding-top: 5px;

      .product-card-quantity-change {
        display: inline-block;
        font-weight: 600;
        margin: 0 3px;
        padding: 0 2px;
        cursor: pointer;
        &:hover {
          background-color: $quantity-color;
          color: white;
        }
      }
    }
  }
}

a {
  text-decoration: none;
}

.product-card-guiding-stars {
  width: auto;
  height: 25px;
  padding: 1px 5px;
  margin: 7px 5px 0 0;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }

}

//ToolTip Styling
[class^="tooltip"] {
  position: relative;
  &:after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(data-tooltip);
    padding: 6px 10px;
    top: 1.4em;
    left: 50%;
    transform: translateX(-50%) translateY(-2px);
    background: $cart-color;
    color: white;
    white-space: pre-wrap;
    z-index: 2;
    border-radius: 2px;
    width:200px;
    transition: opacity 0.2s, transform 0.2s;
  }
  &:hover {
    &:after {
      display: block;
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(0);
    }
  }
}

.tooltip--right {
  &:after {
    top: -4px;
    left: 100%;
    transform: translateX(12%) translateY(0);
  }
  &:hover {
    &:after {
      transform: translateX(10%) translateY(0);
    }
  }
}

.tooltip--triangle {
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-bottom: solid 5px $cart-color;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translateX(-50%) translateY(-2px);
    top: 1.1em;
    left: 50%;
    transition: opacity 0.2s, transform 0.2s;
    z-index: 3;
  }
  &:hover {
    &:before {
      display: block;
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(0);
    }
  }
}

