@import "../../base/base";

.product-card {
  display: inline-block;
  text-transform: capitalize;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  max-height: 100%;

  a {
    position: relative;
    max-height: 100%;
    min-height: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .product-card-image-wrapper {
    max-width: 75%;
    max-height: 100%;
    margin: auto;
    position: relative;
    min-height: 0;
    text-align: center;

    .product-card-image {
      cursor: pointer;
      margin-right: auto;
      margin-left: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .product-card-name {
    font-size: 16px;
    text-decoration: none;
    display: block;
    color: black;
    padding-right: 7px;
    margin: 5px 0;
    cursor: pointer;
  }

  .product-card-size {
    display: inline-block;
    font-size: 12px;
  }

  .product-card-price {
    color: $price-green;
    display: inline-block;
    margin-left: 10px;
  }

  .product-card-price-container {
    display: flex;
  }

  .discount-price {
    color: rgba(red, 0.5);
    text-decoration: none;
    position: relative;
    margin-left: 5px;
    &:before {
      content: " ";
      display: block;
      width: 100%;
      border-top: 2px solid rgba(red, 0.5);
      height: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: rotate(-7deg);
    }
  }

  .product-card-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .product-card-guiding-stars-wrapper {
      max-width: 20%;

      .product-card-guiding-stars {
        width: auto;
        max-width: 100%;
        max-height: 25px;
        padding: 1px 5px -5px 1px;
        margin: 7px 5px 0 0;
        z-index: 1;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .below-button-labels {
    margin-top: 0.2rem;
  }
}

a {
  text-decoration: none;
}
