.ui.button {
  padding-left: 1em;
  padding-right: 1em;

  &.positive {
    background-color: $dark-theme-color;
  }
}

.right.button-wrapper {
  text-align: right;
}

.centered.button-wrapper {
  text-align: center;
}
