.label-preview {
  padding-left: 20%;

  .ui.segment {
    position: relative;
    padding: 0;

    .overlay {
      position: absolute;
      width: 300px;
      height: 300px;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
    }

    .below-button-container {
      display: inline-block;
    }

    .add-to-cart-container {
      text-align: right;
    }

    img {
      &.product {
        width: 300px;
        height: 300px;
      }

      &.add-to-cart {
        height: 2rem;
        margin: 1rem;
      }
    }

    // the intent is to make the tooltips look like
    // the ones in the grocery store
    .ui.popup, .ui.popup::before {
      color: white;
      background-color: $cart-button-color;
      box-shadow: none;
    }

    .ui.popup {
      border-radius: 0;
      font-family: "Century Gothic", sans-serif;
      border: none;
      font-size: 16px;
      padding: 6px 10px;
    }
  }
}
