.label-preview {
  padding-left: 20%;

  .ui.segment {
    position: relative;
    padding: 0;

    .overlay {
      position: absolute;
      width: 300px;
      height: 300px;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
    }

    .below-button-container {
      display: inline-block;
    }

    .add-to-cart-container {
      text-align: right;
    }

    img {
      &.product {
        width: 300px;
        height: 300px;
      }

      &.add-to-cart {
        height: 2rem;
        margin: 1rem;
      }
    }
  }
}
