.nutrition-styler {
  display: flex;

  .styler-form {
    flex-grow: 1;
    margin-right: 1rem;

    p {
      margin: 0;

      &.disabled {
        color: $disabled-text-color;
      }
    }

    button.ui.button:focus {
      background-color: $cancel-color;

      &.active {
        background-color: $cancel-highlight-color;
      }
    }

    .actions {
      span {
        padding-right: 1rem;
      }

      button {
        margin-right: 1rem;
      }
    }
  }

  .nutrition-label {
    flex-shrink: 1;
    margin-left: 1rem;

    .nutrition-facts-label {
      div.hovered {
        background-color: $hover-highlight-color;
        cursor: pointer;
      }

      div.selected {
        border: 1px solid $dark-theme-color;
      }
    }
  }
}
