.right.aligned {
  text-align: right;
  width: auto;
}

.menu-container {
  display: flex;
  gap: 10px;
}

.menu-container .content {
  width: 100%;
}

.menu-container .vertical.pointing.menu {
  height: fit-content;
}

.ui.divider {
  &.tall {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &.short {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
