@import "../../base/base";

.top-nav .menu {
  display: flex;
  justify-content: space-between;
}

.logo-style {
  display: inline-block;
  width: 40%;
}

.title {
  font-size: 30px;
  margin-top: 1rem;
  color: $price-green;
}
