.ui.breadcrumbs {
  font-size: 0.9rem;
  margin-top: -0.3rem;
  margin-bottom: 1.5rem;

  a {
    cursor: pointer;
  }

  &.invitable-resources {
    margin-top: 0;

    a {
      color: #4B2081;

      &:hover {
        color: #693DA1;
      }
    }
  }
}

.flash:not(:empty) + .ui.breadcrumbs {
  margin-top: 0;
}
