.ui.button {
  padding-left: 1em;
  padding-right: 1em;

  &.hover-primary:hover {
    background-color: #111111;
    color: white;
  }
}

.right.button-wrapper {
  text-align: right;
}

.centered.button-wrapper {
  text-align: center;
}
