#main.content {
  padding: 1.5rem;
  margin: 0 auto;
  background-color: white;
  transition: background-color 0.5s ease;
  border-radius: 0;
  border-top: 0;
}

.page-heading {
  display: flex;

  h2 {
    align-self: center;
    margin-bottom: 0;
  }

  .heading-buttons {
    margin-left: auto;
    width: 50%;
  }
}

.page-sub-heading {
  margin-top: 1rem;
  display: flex;

  h3 {
    align-self: center;
    margin-bottom: 0;
    font-size: 1.5rem;
  }

  .heading-buttons {
    margin-left: auto;
    width: 50%;
  }
}
