.ui.menu.navigation {
  background-color: #00529b;
  border-radius: 0;
  border: 0;
  padding-top: 1%;
  font-family: 'Open Sans', sans-serif;
  box-shadow: none;

  .item, .item:hover {
    color: white;
  }

  .dropdown.item .menu {
    margin-top: 0.1rem;
  }

  .navigation-separator {
    margin-left: auto;
  }
}
