<div class="page-sub-heading">
  <h3>Organize Products by Subcategory</h3>
</div>

<div class="ui short hidden divider"></div>

<p>
  When checked, the store will display both links to product categories (e.g.,
  "Produce") and subcategories within each category (e.g., "Fresh Fruit",
  "Fresh Vegetables").  Shoppers must select a subcategory (not a category) to
  view products.
</p>
<p>
  When unchecked, the store will display only links to product categories, which
  shoppers select to view all products in that category. Note that this can
  affect performance for categories with a large number of products, as all the
  category's products will be loaded and displayed at once.
</p>

