<div class="ui no-print tiny modal" data-modal-confirm-container>
  <div class="header">
    Please Confirm
  </div>
  <div class="content"></div>
  <div class="actions">
    <a class="ui cancel button">
      <i class="ban icon"></i>
      No
    </a>
    <a class="ui positive button">
      <i class="checkmark icon"></i>
      Yes
    </a>
  </div>
</div>
