<div class="ui top attached menu segment navigation">
  <%=
    link_to(
      '',
      experiments_path,
      class: 'header item logo',
      title: "Howe's Grocery Researcher Portal (Version #{application_version})"
    )
  %>

  <div class="navigation-separator item"> </div>

  <%=
      link_to('Help',
        tutorials_pages_path,
        class: 'item',
        target: '_blank'
      )
    %>

  <% if current_user %>
    <%=
      link_to('Sign out',
        destroy_user_session_path,
        method: :delete,
        class: 'item'
      )
    %>
  <% else %>
    <%=
      link_to('Log in',
        new_user_session_path,
        class: 'item'
      )
    %>
  <% end %>
</div>
