<div class="ui top attached segment navigation">
  <div class="ui menu navigation">
    <%=
      link_to(
        "Howe's Grocery Researcher Portal",
        root_path,
        class: 'header item logo',
        title: "Howe's Grocery Researcher Portal (Version #{application_version})"
      )
    %>

    <div class="navigation-separator item"></div>

    <% if current_user %>
      <%=
        link_to("Sign out",
          destroy_user_session_path,
          method: :delete,
          class: 'item'
        )
      %>
    <% end %>
  </div>
  <div class="stripe"></div>
</div>
